name: "[CMake] Project configuration, build and testing"
run-name: ${{ github.actor }} has done ${{ github.event_name }} to master branch
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      CC: /usr/bin/clang
      CXX: /usr/bin/clang++
      CMAKE_GENERATOR: /usr/bin/ninja
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
    - run: echo "Running on ${{ matrix.os }}"
    - name: Cloning git repository
      uses: actions/checkout@v4

    - name: Setup C++ compiler
      uses: aminya/setup-cpp@v1
      with:
        compiler: llvm
        cmake: true
        conan: true
        ninja: true

    - run: conan profile detect --force
    - run: conan install . --build=missing -c tools.cmake.cmaketoolchain:generator="Ninja Multi-Config"
    - run: source ./build/generators/conanbuild.sh
    - run: cmake --preset --conan-default
    - run: cmake --build --preset conan-default
    - run: source ./build/generators/conanrun.sh
    - run: ctest --test-dir ./build/tests
    - run: source ./build/generators/deactivate_conanrun.sh && \
           source ./build/generators/deactivate_conanbuild.sh
